
.input-button {
    display: flex;
    flex-direction: row;

    input {
        flex-basis: 0;
        flex-grow: 1;
    }

    button {
        width: min-content;
        margin-left: 0.3em;
    }
}

