
<app-window title='upload file' (close)="onClose()" movable bounded centering [classes]='["window-toolbar"]'>
<div class="upload-session">
    <div class="content">
        <div class="message">
            <table>
                <tr>
                    <td>Total Size:  {{ TotalSize }}</td>
                    <td>Uploaded Size: {{ UploadedSize }}</td>
                </tr>
                <tr>
                    <td>Time Cost: {{ SpendTime }}</td>
                    <td>Time Remaining: {{ TimeRemaining }}</td>
                </tr>
                <tr class='upload-file-name'>
                    <td>Upload Speed: {{ UploadSpeed }}</td>
                    <td>File: {{ InProcessFile }}</td>
                </tr>
            </table>
        </div>
        <app-progress-bar [percent]='progressPercent'></app-progress-bar>
    </div>
</div>
</app-window>

