@use "mixin.scss" as mixin;
@use "size.scss"  as size;

/** detail page hierarchy */
#details-container {
    height: 100%;
}

@mixin common($w1, $f1, $w2, $f2, $w3, $f3) //{
{
    margin-top: 2.5em;
    margin-left: 1em;
    & > .x-selected {
        background-color: #AAF;
    };
    a {
        color: black;
    };
    a:hover {
        text-decoration: none;
    }
    & > .file-item {
        display: inline-flex;
        flex-flow: column;
        align-items: center;
        margin: 0.25em 0.3em 0.1em 0.3em;
        padding: 0.3em 0.6em;
        @media (max-width: size.$large) {
            width: $w1;
            font-size: $f1;
        }
        @media (max-width: size.$medium) {
            width: $w2;
            font-size: $f2;
        }
        @media (max-width: size.$small) {
            width: $w3;
            font-size: $f3;
        }
        .file-item-icon {
            width: 100%;
            svg {
                width: 100%;
            }
        };
        .filename-bar {
            .filename {
                @include mixin.no-select();
                word-break: break-all;
            }
            .filename-input {
                width: 100%;
            }
        }
        .detail-size, .detail-type, .detail-data, .detail-mode {
            display: none;
        }
    };
    & > .file-item:hover {
        background-color: #EEF;
    }
    & > .x-selected:hover {
        background-color: #BBF;
    }
} //}

.extra-large-icons {@include common(8vw, 22px, 12vw, 18px, 15vw, 12px);}
.large-icons       {@include common(6vw, 20px, 10vw, 16px, 12vw, 10px);}
.medium-icons      {@include common(5vw, 18px,  8vw, 14px, 10vw,  9px);}
.small-icons       {@include common(3vw, 16px,  5vw, 12px, 7vw,   8px);}

.style-details //{
{
    margin-top: 2.5em;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    & > .x-selected {
        background-color: #AAF;
    };
    a {
        color: black;
    };
    a:hover {
        text-decoration: none;
    }
    & > .file-item {
        @include mixin.no-select();

        display: flex;
        flex-direction: row;

        margin: 0.25em 0.3em 0.1em 0.3em;
        padding: 0.3em 0.6em;
        width: 100%;

        .file-item-icon {
            order: 1;
            padding: 0em 0.5em;
            margin: 0em 0.25em;
            flex-grow: 0;
            svg {
                width: 18px;
            }
        };
        .filename-bar, .detail-size, .detail-type, .detail-data, .detail-mode {
            flex-grow: 1;
            width: 18%;
            overflow: hidden;
            padding: 0.1em 0.5em;
            margin: 0em 0.3em;
        }
        .filename-bar {
            order: 2;
            .filename {
                word-break: break-all;
            }
            .filename-input {
                width: 100%;
            }
        }
        .detail-size {
            order: 3;
        }
        .detail-type {
            order: 4;
        }
        .detail-data {
            order: 5;
        }
        .detail-mode {
            order: 6;
        }
    };
    & > .file-item:hover {
        background-color: #EEF;
    }
    & > .x-selected:hover {
        background-color: #BBF;
    }
} //}

