/** define classes using for controlling behavior of components */

/** hide class */
.x-hide //{
{
    display: none !important;
} //}

/** copy class */
.x-copy {
}

/** cut class */
.x-cut {
    opacity: 0.7;
}

/** tool-disable */
.tool-disable {
    &:hover {
        background-color: white !important;
    }
}

