/** sass mixin */
@use 'size.scss' as size;

/** forbid selecting text */
@mixin no-select() //{
{
    -webkit-touch-callout: none;
    -webkit-user-select:   none;
    -khtml-user-select:    none;
    -moz-user-select:      none;
    -ms-user-select:       none;
    user-select:           none;
} //}

/** rectangle with center point at layout point */
@mixin center-rectangle($width, $height) //{
{
    width: $width;
    height: $height;
    margin-left: -$width / 2;
    margin-top:  -$height / 2;
} //}

/** a rectangle panel with round corner */
@mixin pop_panel($width, $height) //{
{
    position: absolute;
    padding: 0.8em;
    top: 50%;
    left: 50%;
    $large-width:   (size.$large / size.$medium) * $width;
    $large-height:  (size.$large / size.$medium) * $height;
    $medium-width:  $width;
    $medium-height: $height;
    $small-width:   (size.$small / size.$medium) * $width;
    $small-height:  (size.$small / size.$medium) * $height;
    @media (max-width: size.$large) {
        @include center-rectangle($large-width, $large-height);
    }
    @media (max-width: size.$medium) {
        @include center-rectangle($medium-width, $medium-height);
    }
    @media (max-width: size.$small) {
        @include center-rectangle($small-width, $small-height);
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #F0F0F0;
    border: solid #478EFF 1px;
    border-radius: 0.5em;
    box-shadow: 0.3em 0.3em #EEEEEE;
} //}

/** simple button */
@mixin common_button //{
{
    @include no-select();
    flex-basis: 0px;
    flex-grow: 1;
    color: #EFE;
    padding: 0.2em 0.3em;
    margin: 0em 0.3em;
    background-color: #478EFF;
    border: thin;
    box-shadow: 0.15em 0.15em #38F;
    &:hover {
        background-color: #4080FF;
    }
    &:focus {
        border: thick #111;
        background-color: #4080FF;
    }
} //}

