/** style for toolbar */
@use 'mixin.scss' as mixin;
@use 'size.scss'  as size;

/** tool bar layout */
.tool-bar //{
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .tool {
        text-align: center;
        margin: 0.5em 0.3em 0.1em 0.3em;
        svg {
            @media (max-width: size.$large) {
                width: 1.5vw;
                height: 1.5vw;
            }
            @media (max-width: size.$medium) {
                width: 2vw;
                height: 2vw;
            }
            @media (max-width: size.$small) {
                width: 4vw;
                height: 4vw;
            }
        }
        .tool-name {
            @include mixin.no-select();
            font-size: 80%;
            text-overflow: ellipsis;
        }
    }
    .tool:hover {
        background-color: #DDD;
    }
} //}

/** address bar */
#tool-address //{
{
    @include mixin.no-select();
    margin: 0.8em;
    box-sizing: content-box;
    width: min-content;

    .address-bar {
        border: solid black 0.8px;
        padding: 0em 0.3em;
        border-radius: 0.2em;
        display: inline-flex;
        flex-direction: row;
        .address-bar-pa {
            display: inline-flex;
            flex-direction: row;
            flex-grow: 1;
            flex-basis: 10px;
            .address-slice {
                display: inline-flex;
                flex-direction: row;
                .address-slice-arrow {
                    svg {
                        width: 10px;
                    }
                }
                .address-slice-name {
                    padding: 0em 0.3em;
                }
                .address-slice-name:hover {
                    background-color: #E5F3FF;
                }
            }
        }

        & > input {
            flex-grow: 1;
            flex-basis: 10px;
            border: none;
        }
        & > input:focus {
            outline: none;
        }
    }
} //}

/** file upload */
#tool-upload //{
{
    #directory-input, #file-input{
        display: none;
    }
} //}

.dropdown-main //{
{
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
    }

    &:hover > .dropdown-content {
        display: block;
        text-align: left;
        padding: 0.5em 0.7em;
        border-right: 1px #EEE solid;
        border-bottom: 1px #EEE solid;
        border-left: 1px #EEE solid;
        div {
            padding: 0.1em 1em 0.5em 1em;
            margin: 0.2em;
        }
        div + div {
            border-top: 0.7px #AAA solid;
        }
        div ~ div {
            padding: 0.3em 1em 0.5em 1em;
        }
    }

    &:hover > .dropdown-content > div:hover {
        background-color: #E5F3FF;
    }
} //}

#tool-sortby {
    .sort-option + .reverse-option {
        border-top: 2px solid black;
    }
}

/** select layout, select sort */
.selected-layout, .selected-sort, .selected-reverse {
    &::before {
        position: absolute;
        left: 0.2em;
        content: "\2611";
    }
}

