@use "../../node_modules/bootstrap/scss/bootstrap.scss";

@use "mixin.scss" as mixin;
@use "size.scss"  as size;

@use "login.scss";
@use "mclass.scss";
@use "details.scss";
@use "toolbar.scss";
@use "menus.scss";

body {
    height: 90vh;
};

#webdisk-logo {
    @include mixin.no-select();
    padding: 0.33em 2em 0em 2em;
    height: 80%;
}

#dir-tree {
    padding: 0.5em;
    max-height: 50vh;
    svg {
        height: 100%;
    }
}
