@use "../../node_modules/bootstrap/scss/bootstrap.scss" as bs;

body {
    height: 90vh;
};

.login-form {
    & > div {
        position: absolute;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        width: 500px;
        height: 500px;
        margin-left: -250px;
        margin-top: -250px;
        background-color: red;
    };

    label {
    };

    table label {
    };

    table input {
    };

    input {
    };
};

// detail page hierarchy
.detail-container {
    .file-item {
        display: none;
        padding: 2em, 3em;
        width: 4vw;
        height: auto;
        .file-icon{
        };
        .file-item-name {
        };
    };
};

#hello {
    height: auto;;
}
