@import 'src/app/style/layout.scss';
@import 'src/app/style/utils.scss';
@import 'src/app/style/devices.scss';

@include container-content();

body {
    overflow: hidden;
}

.container {
    overflow: hidden;

    .content {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: flex-start;
        @include no-select();

        .panel-row {
            width: 100%;
            box-sizing: border-box;
            flex-grow: 1;
            overflow: hidden;
            display: flex;
            flex-direction: row;

            @media (min-width: 800px) {
                & {
                    padding: 0% 1%;
                    width: 98%;
                }
            }

            @media (min-width: 1200px) {
                & {
                    padding: 0% 4%;
                    width: 94%;
                }
            }

            @media (min-width: 1500px) {
                & {
                    padding: 0% 7%;
                    width: 86%;
                }
            }

            .panel {
                width: 25%;
                height: 100%;
                overflow: scroll;

                &::-webkit-scrollbar {
                    width: 0.3em;
                    height: 0.3em;
                    background-color: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: rgba(180, 180, 180, 0);
                    border-radius: 0.2em;
                }
                &:hover {
                    &::-webkit-scrollbar-thumb {
                        background-color: rgba(180, 180, 180, 0.7);
                    }
                }
            }

            .app-file-view {
                width: 75%;
                height: 100%;

                app-file-view {
                    width: 100%;
                    height: 100%;
                }
            }

            .panel-button {
                display: none;
            }

            @media (max-width: $phone-max-width) {
                & {
                    position: relative;

                    .panel-button {
                        display: block;
                    }

                    .panel {
                        animation: leftPanelOut linear 0.3s;

                        @keyframes leftPanelOut {
                            0% {
                                left: 0%;
                            }

                            100% {
                                left: -100%;
                            }
                        }
                    }

                    .panel.panel-init {
                        animation: unset;
                    }

                    .panel.show {
                        animation: leftPanelIn linear 0.3s forwards;

                        @keyframes leftPanelIn {
                            0% {
                                left: -100%;
                            }
                            100% {
                                left: 0%;
                            }
                        }
                    }

                    .panel {
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        background-color: white;
                        position: absolute;
                        left: -100%;
                    }

                    .app-file-view {
                        width: 100%;
                    }
                }
            }
        }
    }
}

