
$color-notifier-close: #fa5d56;
$color-notifier-close-hover: darken($color-notifier-close, 20%);

.window {
    .window-toolbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        background: #ececec;
        border-radius: 0.5em 0.5em 0em 0em;

        .take-space {
            flex-grow: 1;
        }

        .window-title {
            padding: 0.2em 0.5em;
            color: #333;
        }

        .window-close {
            padding: 0.3em;

            .window-close-circle {
                background: $color-notifier-close;
                color: #305050;
                border-radius: 2em;
                width: 1.7em;
                height: 1.7em;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                &:hover {
                    background: $color-notifier-close-hover;
                }
            }
        }
    }

    .window-content {
        width: 100%;
    }
}

