<h1 id="title" class="title">signup</h1>

<nb-alert *ngIf="showMessages?.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages?.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="register()" #form="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-name">username:</label>
    <input nbInput
           [(ngModel)]="user.username"
           #username="ngModel"
           id="input-name"
           name="username"
           placeholder="username"
           autofocus
           pattern='[a-zA-Z]\w{2,31}'
           fullWidth
           fieldSize="large"
           [status]="username.dirty ? (username.invalid  ? 'danger' : 'success') : 'basic'"
           required
           minlength="2"
           maxlength="32"
           [attr.aria-invalid]="username.invalid && username.touched ? true : null">
    <ng-container *ngIf="username.invalid && username.touched">
      <p class="caption status-danger" *ngIf="username.errors?.required">
        username is required!
      </p>
      <p class="caption status-danger" *ngIf="username.errors?.minlength || username.errors?.maxlength">
        username should be 2-32 characters long!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
      <label class="label" for="input-password">password:</label>
      <input nbInput
             [(ngModel)]="user.password"
           #password="ngModel"
           type="password"
           id="input-password"
           name="password"
           placeholder="password"
           fullWidth
           fieldSize="large"
           [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
           required
           minlength="6"
           [attr.aria-invalid]="password.invalid && password.touched ? true : null">
    <ng-container *ngIf="password.invalid && password.touched">
      <p class="caption status-danger" *ngIf="password.errors?.required">
        password is required!
      </p>
      <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
        password should be 6-32 characters long!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-invcode">invitation code:</label>
    <input nbInput
           [(ngModel)]="user.inv"
           #invcode="ngModel"
           id="input-invcode"
           name="invcode"
           pattern="[a-zA-Z1-9\-]+"
           placeholder="invitation code"
           fullWidth
           fieldSize="large"
           [status]="invcode.dirty ? (invcode.invalid  ? 'danger' : 'success') : 'basic'"
           required
           [attr.aria-invalid]="invcode.invalid && invcode.touched ? true : null">
    <ng-container *ngIf="invcode.invalid && invcode.touched">
      <p class="caption status-danger" *ngIf="invcode.errors?.required">
        invitation code is required!
      </p>
      <p class="caption status-danger" *ngIf="invcode.errors?.pattern">
        invalid invitation code!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-re-password">confirmed password:</label>
    <input nbInput
           [(ngModel)]="confirmPassword"
           #rePass="ngModel"
           type="password"
           id="input-re-password"
           name="rePass"
           placeholder="password"
           fullWidth
           fieldSize="large"
           [status]="rePass.dirty ? (rePass.invalid || password.value != rePass.value  ? 'danger' : 'success') : 'basic'"
           required
           [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">
    <ng-container *ngIf="rePass.touched">
      <p class="caption status-danger" *ngIf="rePass.errors?.required">
        confirmed password is required!
      </p>
      <p class="caption status-danger" *ngIf="user.password != confirmPassword && !rePass.errors?.required">
        password does not match the confirm password.
      </p>
    </ng-container>
  </div>

  <button nbButton
          fullWidth
          status="primary"
          size="large"
          [disabled]="!form.valid || user.password != confirmPassword"
          [class.btn-pulse]="submitted">
    signup
  </button>
</form>

<section class="another-action" aria-label="Sign in">
  has an account? <a class="text-link" routerLink="../login">login</a>
</section>

