
nb-card {
    width: 100%;
    height: 100%;
    overflow: hidden;

    nb-card-header {
        width: 100%;
        box-sizing: border-box;
        padding: 0.3em 0.4em 1em 0.4em;
    }

    nb-card-body {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 0.4em;
            background: #f3f3f3;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #777;
        }

        .entry {
            display: flex;
            flex-direction: row;
            width: 100%;
            box-sizing: border-box;
            padding: 0.3em;
            border-radius: 1em;
            border: solid 0.5pt #7bb;
            box-shadow: 0.1em 0.1em 0.3em 0.2em rgba(120,200,189,0.2);
            margin-bottom: 0.8em;

            table {
                flex-grow: 1;

                tr:nth-child(even) {
                }
                tr:nth-child(odd) {
                }

                tr {
                    width: 100%;

                    td {
                        padding: 0.3em 1em;

                        div {
                            overflow-x: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    td:first-child {
                        color: blue;
                        width: 1%;
                    }
                    td:last-child {
                        color: green;
                        font-size: small;
                        font-family: monospace;
                    }
                }
            }

            .buttons {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                padding: 0.2em 0.5em;
                color: brown;

               .button {
                   padding: 0.3em;

                   &:hover {
                       background-color: rgba(240,240,240,0.5);
                       border-radius: 0.3em;
                   }
               }
            }
        }
    }
}

