
.outter-wrapper {
    margin-top: 0.3em;
    padding: 0.2em 0.7em;

    .wrapper {
        width: 100%;
        position: relative;

        .icon, .close, .query-icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.3em 0.5em 0.3em 0.5em;
            color: #777;

            mat-icon {
                font-size: 20px;
                width: 20px;
                height: 20px;
            }
        }

        .search-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0.4em 0.6em;

            .close:hover {
                background-color: rgba(200,200,200,0.2);
                border-radius: 1em;
            }

            input {
                border: none;
                color: #333;
                flex-grow: 1;

                &:focus {
                    outline: none;
                }
            }
        }

        .outline {
            position: absolute;
            top: 0em;
            left: 0em;
            background: white;
            width: 100%;
            display: flex;
            flex-direction: column;

            box-sizing: border-box;
            border: solid 1pt #ddd;
            border-radius: 1.5em;

            &:hover, &:focus-within {
                border: solid 1pt rgba(0,0,0,0);
                box-shadow: 0.1em 0.1em 0.3em 0.1em #ccc;
            }

            .hints {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 0em 0.6em 0.8em 0.6em;
                box-sizing: border-box;

                .divider {
                    width: 100%;
                    height: 0.5pt;
                    background-color: #ddd;
                    margin-bottom: 0.5em;
                }

                .hint .hint-wrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0.2em 0.5em 0.2em 0em;
                    border-radius: 0.5em;

                    &:hover {
                        background-color: rgba(220,230,230,0.5);
                    }

                    .query-icon {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        mat-icon {
                            font-size: 16px;
                            width: 16px;
                            height: 16px;
                        }
                    }

                    .message {
                        padding-left: 0.5em;
                        color: #555;
                        font-size: small;
                    }
                }
            }
        }
    }
}

