
<a [class]="getItemClass()" (click)="onClick()" (contextmenu)="onContextMenu()"
   [dropdir]='dropdir' (dropdone)='handleDropdone()' accept-drag-item
   dragitem dragkey='path' [dragvalue]='file?.filename'>
    <div class="file-icon" #fileicon>
        <app-file-icon icon='{{ icon }}'></app-file-icon>
    </div>

    <div class="file-props">
        <div class="file-prop file-name" [style]='getPropCSS(nameOrder, nameWidth)'> {{ FileName }}  </div>
        <div class="file-prop file-date" [style]='getPropCSS(dateOrder, dateWidth)'> {{ FileMTime }} </div>
        <div class="file-prop file-mode" [style]='getPropCSS(modeOrder, modeWidth)'> {{ FileMode }}  </div>
        <div class="file-prop file-type" [style]='getPropCSS(typeOrder, typeWidth)'> {{ FileType }}  </div>
        <div class="file-prop file-size" [style]='getPropCSS(sizeOrder, sizeWidth)'> {{ FileSize }}  </div>

        <div class="hidden-panel">
            <div class="file-v"> Filename:  {{ FileName }}  </div>
            <div class="file-v"> LM Time:   {{ FileMTime }} </div>
            <div class="file-v"> File Type: {{ FileType }}  </div>
            <div class="file-v"> File Size: {{ FileSize }}  </div>
        </div>
    </div>
</a>

