@import 'src/app/style/colors.scss';
@import 'src/app/@theme/styles/themes';


:host {
    .file-item {
        &:hover {
            background: $color-file-hover;
        }

        &.type-alioss {
            color: #ff6a00;
        }

        &.type-webdav {
            color: blue;
        }
    }

    &.select {
        .file-item {
            background-color: $color-file-select;

            &:hover {
                background-color: $color-file-select-hover;
            }
        }
    }

    &.active {
        .file-item {
            background-color:  $color-file-active;
        }
    }

    &:nth-child(n+5) .file-item.detail > .file-props > .hidden-panel {
        top: -200%;
    }

    .file-item.detail {
        position: relative;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.3em 0em;
        box-sizing: border-box;

        font-size: 0.7em;

        .file-icon {
            padding: 0.4em;
            width: 2em;
            flex-shrink: 0;

            svg {
                width: 100%;
            }
        }

        .file-props {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            align-items: center;
            box-sizing: border-box;
            padding: 0.8em 0em;
            overflow-x: hidden;

            .file-prop {
                padding: 0em 0.8em;
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }

            .file-name {
                padding: 0em;
            }

            .hidden-panel {
                display: none;
                position: absolute;
                top: 100%;
                flex-direction: column;
                box-shadow: 0.1em 0.1em 0.3em 0.1em #CCC;
                padding: 0.5em 0.7em;
                border-radius: 0.3em;
                z-index: 1;
            }
        }

        .file-props:hover {
            .hidden-panel {
                display: flex;
                animation: showme 1s linear forwards;

                &:hover {
                    display: none;
                }
            }

            @keyframes showme {
                0% {
                    opacity: 0;
                }
                74% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }
    }
}

@include nb-install-component {
    .hidden-panel {
        background-color: lighten(nb-theme(background-basic-color-1),10%);
    }
}
