<!-- login page, this page is inside of body element -->
<style>
body {
    background: url("/imgs/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media (max-width: 600px) {
    body {
        background: url("/imgs/bg-phone.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
</style>

<form action="/" method="post" enctype="multipart/form-data" class="login-form" action="">
    <div>
        <label for="login">Login</label>
        <table>
            <tr>
                <td><label for="username">Username</label></td>
                <td><input name="username" id="login-username" type="text"></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input name="password" id="login-password" type="password"></td>
            </tr>
        </table>
        <div class="login-buttons">
            <input id="login-submit" type="submit">
            <input id="login-reset"  type="reset">
        </div>
    </div>
</form>

<%
const login = require("./login");
%>
