<!-- get elements by id -->

<template id="svg-filetype-aep">
<% //include_plain("./svgs/fileicon/filetype/icn_aep.svg") %>
</template>

<template id="svg-folder">
<% //include_plain("./svgs/fileicon/folder.svg") %>
</template>

<template id="svg-folder-wait">
<% //include_plain("./svgs/fileicon/folder-wait.svg") %>
</template>

<% appendSvg("./svgs/fileicon/filetype", "svg-filetype-"); %>

<template id="svg-filetype-ai">
<% //include_plain("./svgs/fileicon/filetype/icn_ai.svg") %>
</template>
<template id="svg-filetype-doc">
<% //include_plain("./svgs/fileicon/filetype/icn_doc.svg") %>
</template>
<template id="svg-filetype-fla">
<% //include_plain("./svgs/fileicon/filetype/icn_fla.svg") %>
</template>
<template id="svg-filetype-font-2">
<% //include_plain("./svgs/fileicon/filetype/icn_font-2.svg") %>
</template>
<template id="svg-filetype-font">
<% //include_plain("./svgs/fileicon/filetype/icn_font.svg") %>
</template>
<template id="svg-filetype-html">
<% //include_plain("./svgs/fileicon/filetype/icn_html.svg") %>
</template>
<template id="svg-filetype-image">
<% //include_plain("./svgs/fileicon/filetype/icn_image.svg") %>
</template>
<template id="svg-filetype-indd">
<% //include_plain("./svgs/fileicon/filetype/icn_indd.svg") %>
</template>
<template id="svg-filetype-mp3">
<% //include_plain("./svgs/fileicon/filetype/icn_mp3.svg") %>
</template>
<template id="svg-filetype-pdf">
<% //include_plain("./svgs/fileicon/filetype/icn_pdf.svg") %>
</template>
<template id="svg-filetype-png">
<% //include_plain("./svgs/fileicon/filetype/icn_png.svg") %>
</template>
<template id="svg-filetype-psd">
<% //include_plain("./svgs/fileicon/filetype/icn_psd.svg") %>
</template>
<template id="svg-filetype-video">
<% //include_plain("./svgs/fileicon/filetype/icn_video.svg") %>
</template>
<template id="svg-filetype-xlm">
<% //include_plain("./svgs/fileicon/filetype/icn_xlm.svg") %>
</template>
<template id="svg-filetype-zip">
<% //include_plain("./svgs/fileicon/filetype/icn_zip.svg") %>
</template>
