
<div class="tool-bar">
    <div class="tool" id="tool-back"    ><% include_plain("./svgs/toolbar/back.svg");    %><div class="tool-name">back</div></div>
    <div id="tool-address"></div>
    <div class="tool" id="tool-refresh" >
        <% include_plain("./svgs/toolbar/refresh.svg"); %>
        <div class="tool-name">refresh</div>
    </div>
    <div class="tool" id="tool-copy"    ><% include_plain("./svgs/toolbar/copy.svg");    %><div class="tool-name">copy</div></div>
    <div class="tool" id="tool-cut"     ><% include_plain("./svgs/toolbar/cut.svg");     %><div class="tool-name">cut</div></div>
    <div class="tool" id="tool-paste"   ><% include_plain("./svgs/toolbar/paste.svg");   %><div class="tool-name">paste</div></div>
    <div class="tool" id="tool-new-file"   ><% include_plain("./svgs/toolbar/new-file.svg");   %><div class="tool-name">new file</div></div>
    <div class="tool" id="tool-new-folder"   ><% include_plain("./svgs/toolbar/new-folder.svg");   %><div class="tool-name">new folder</div></div>
    <div class="tool" id="tool-rename"  ><% include_plain("./svgs/toolbar/rename.svg");  %><div class="tool-name">rename</div></div>
    <div class="tool" id="tool-delete"  ><% include_plain("./svgs/toolbar/delete.svg");  %><div class="tool-name">delete</div></div>
    <div class="tool dropdown-main" id="tool-upload"  >
        <% include_plain("./svgs/toolbar/upload.svg");  %>
        <div class="tool-name">upload</div>
        <div class="dropdown-content" id="file-directory-upload">
            <div id="tool-upload-file">File</div>
            <div id="tool-upload-directory">Directory</div>
        </div>
        <input id="directory-input" type="file" multiple webkitdirectory>
        <input id="file-input"      type="file" multiple>
    </div>
    <!--
        <div class="tool" id="tool-edit"    ><% include_plain("./svgs/toolbar/edit.svg");    %><div class="tool-name"></div></div>
    -->
    <div class="tool dropdown-main" id="tool-layout">
        <% include_plain("./svgs/toolbar/layout.svg");    %>
        <div class="tool-name">layout</div>
        <div class="dropdown-content">
            <div data-target="extra-large-icons" class="layout-option" id="dl-extra-large-icons">Extra large icons</div>
            <div data-target="large-icons" class="layout-option" id="dl-large-icons">Large icons</div>
            <div data-target="medium-icons" class="layout-option" id="dl-medium-icons">Medium icons</div>
            <div data-target="small-icons" class="layout-option" id="dl-small-icons">Small icons</div>
            <div data-target="style-details" class="layout-option selected-layout" id="dl-details">Details</div>
        </div>
    </div>
    <div class="tool dropdown-main" id="tool-sortby">
        <% include_plain("./svgs/toolbar/sortby.svg");    %>
        <div class="tool-name">sortby</div>
        <div class="dropdown-content">
            <div data-sort="name" class="sort-option selected-sort" id="sortby-name">Name</div>
            <div data-sort="time" class="sort-option" id="sortby-time">Time</div>
            <div data-sort="type" class="sort-option" id="sortby-type">Type</div>
            <div data-sort="size" class="sort-option" id="sortby-size">Size</div>
            <div class="reverse-option selected-reverse" data-order="ascending" >Ascending </div>
            <div class="reverse-option" data-order="descending">Descending</div>
        </div>
    </div>
    <div class="tool" id="tool-find"    ><% include_plain("./svgs/toolbar/find.svg");    %><div class="tool-name">find</div></div>
    <div class="tool" id="tool-settings"><% include_plain("./svgs/toolbar/settings.svg");%><div class="tool-name">setting</div></div>
</div>

