
<div class="tool-bar">
    <div class="tool" id="tool-back"    ><% include_plain("./svgs/toolbar/back.svg");    %><div class="tool-name">back</div></div>
    <div id="tool-address"></div>
    <div class="tool" id="tool-refresh" >
        <% include_plain("./svgs/toolbar/refresh.svg"); %>
        <div class="tool-name">refresh</div>
    </div>
    <div class="tool" id="tool-copy"    ><% include_plain("./svgs/toolbar/copy.svg");    %><div class="tool-name">copy</div></div>
    <div class="tool" id="tool-cut"     ><% include_plain("./svgs/toolbar/cut.svg");     %><div class="tool-name">cut</div></div>
    <div class="tool" id="tool-paste"   ><% include_plain("./svgs/toolbar/paste.svg");   %><div class="tool-name">paste</div></div>
    <div class="tool" id="tool-new-file"   ><% include_plain("./svgs/toolbar/new-file.svg");   %><div class="tool-name">new file</div></div>
    <div class="tool" id="tool-new-folder"   ><% include_plain("./svgs/toolbar/new-folder.svg");   %><div class="tool-name">new folder</div></div>
    <div class="tool" id="tool-rename"  ><% include_plain("./svgs/toolbar/rename.svg");  %><div class="tool-name">rename</div></div>
    <div class="tool" id="tool-delete"  ><% include_plain("./svgs/toolbar/delete.svg");  %><div class="tool-name">delete</div></div>
    <!--
        <div class="tool" id="tool-edit"    ><% include_plain("./svgs/toolbar/edit.svg");    %><div class="tool-name"></div></div>
    -->
    <div class="tool" id="tool-find"    ><% include_plain("./svgs/toolbar/find.svg");    %><div class="tool-name">find</div></div>
    <div class="tool" id="tool-settings"><% include_plain("./svgs/toolbar/settings.svg");%><div class="tool-name">setting</div></div>
</div>

