<!--
    --------------------------------
    |_LOGS_|_______TOOLS_BAR_______|
    |      |                       |
    | DIRS |                       |
    | TREE |                       |
    |      |     FILES DETAILS     |
    | DIRS |                       |
    | TREE |                       |
    |      |                       |
    | DIRS |                       |
    | TREE |                       |
    |      |                       |
    --------------------------------
-->
<div id="user-page-top" class="d-flex flex-row vw-100 sticky-top">
    <div id="homeicon" class="w-25"><% include("./homeicon.html", JSENV) %></div>
    <div id="tool_bar" class="w-75"><% include("./tool_bar.html", JSENV) %></div>
</div>
<div class="d-flex flex-column vw-100 h-100">
    <div id="user-page-main" class="d-flex flex-row w-100 h-100">
        <div id="dir_tree" class="w-25 m-2"><% include("./dir_tree.html", JSENV) %></div>
        <div id="details"  class="w-75 m-2"><% include("./details.html", JSENV) %></div>
    </div>
</div>
