<div class="header-container">
    <div class="logo-container">
        <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
            <nb-icon icon="bars"></nb-icon>
        </a>
        <a class="logo" [routerLink]="['/']" style="font-family: fantasy;">WEBDISK</a>
    </div>
    <!--
    <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
        <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
    </nb-select>
    -->
</div>

<div class='header-space'></div>

<div class="header-container">
    <nb-actions size="small">
        <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
            <nb-label style='font-size: medium; padding: 0em 0.5em;' class='username'><a>{{ user?.username }}</a></nb-label>
            <nb-user [nbContextMenu]="userMenu" nbContextMenuTag='user-click'
                   [onlyPicture]="userPictureOnly"
                   [name]="null"
                   [picture]="avatar">
            </nb-user>
        </nb-action>
    </nb-actions>
</div>
