
.top-panel {
    width: 100%;
    box-sizing: border-box;
    padding: 0.8em 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #24292e;

    .logo {
        padding: 0em 1em;

        mat-icon {
            width: 30px;
            height: 30px;
        }
    }

    .take-space {
        flex-grow: 1;
    }

    .right {
        display: flex;
        flex-direction: row;

        .settings, .account {
            padding: 0.8em 0.8em;
            border-radius: 0.4em;
            color: #d2d7de;

            &:hover {
                background-color: rgba(140, 120, 145, 0.3);
            }
        }
    }
}

