@import '../../../style/layout.scss';
@import '../../../style/utils.scss';

@include container-content();

.container {

    .content {

        @include inputs-buttons-form('.login-form');
        .login-form {
            .login-fail-warning {
                padding: 0em 1em;
            }
            
            .forget-password {
                width: 100%;
                box-sizing: border-box;
                padding: 0.5em 1em;
            }
        }
    }
}

