
<div class="container">

    <div class="content">
        <form #fs1="ngForm" class='login-form' novalidate>
            <div class="inputs">
                <mat-form-field hideRequiredMarker>
                    <mat-label>用户名</mat-label>
                    <input matInput placeholder="输入用户名" type='text'
                                    [(ngModel)]='inputState.username' name='iname' #iname='ngModel'
                                    required appName>
                    <button mat-button *ngIf="inputState.username" matSuffix 
                            mat-icon-button aria-label="Clear" (click)="inputState.username=''">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error *ngIf="iname.errors?.name">
                        请输入正确的用户名
                    </mat-error>
                    <mat-error *ngIf="iname.errors?.required">
                        用户名是必须的
                    </mat-error>
                </mat-form-field>

                <mat-form-field hideRequiredMarker>
                    <mat-label>密码</mat-label>
                    <input matInput placeholder="输入密码" type='password'
                                    [(ngModel)]='inputState.password' name='ipass' #ipass='ngModel'
                                    required>
                    <button mat-button *ngIf="inputState.password" matSuffix 
                            mat-icon-button aria-label="Clear" (click)="inputState.password=''">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error *ngIf="ipass.errors?.required">
                        密码是必须的
                    </mat-error>
                </mat-form-field>
            </div>

            <section>
                <div class="buttons">
                    <button class="confirm-login-button" mat-raised-button color='primary' 
                            [disabled]='fs1.invalid' (click)='login()'>
                        登录
                    </button>
                    <button class="new-account-button" mat-stroked-button color='primary' [routerLink]="['/passport/signup']">
                        注册新账户
                    </button>
                </div>
            </section>
            <mat-error class='login-fail-warning' [style]='loginFail ? "" : "visibility: hidden"'>
                登录失败, 用户名或者密码错误
            </mat-error>

            <div class="forget-password">
                <a [routerLink]="['/passport/retrieve-password']">忘记密码?</a>
            </div>
        </form>
    </div>

</div>

