
<div class="image-container" (click)='toggleTools()'>
    <div class="take-space-to-full"></div>
    <div class="image" #imagex>
        <div class="take-space"></div>

        <div class="image-transform" #imageanchor>
            <img (load)='onImageLoad()' (click)='$event.stopPropagation()' (dblclick)='toggleTools()'
             [src]="images[imageIndex]" draggable='false' movable onlyEmit='true' (delta)='handleMove($event)'>

            <div class="loading-icon" *ngIf='!loaded'>
                <div class="take-space"></div>
                <div class="icon">
                    <div class="take-space"></div>
                    <app-loading-bar></app-loading-bar>
                    <div class="take-space"></div>
                </div>
                <div class="take-space"></div>
            </div>
        </div>

        <div class="take-space"></div>
    </div>
    <div class="take-space-to-full"></div>

    <div class="tools-wrapper" #toolwp>
        <div class="tools-nav">
            <div class="tools-wrapper-2" #navbutton>
                <div class="icon-center" *ngIf='imageIndex > 0'>
                    <div class="take-space"></div>
                    <mat-icon svgIcon='iv_backward' (click)='onPrev($event)'></mat-icon>
                    <div class="take-space"></div>
                </div>

                <div class="take-space"></div>

                <div class="icon-center" *ngIf='imageIndex < (images.length - 1)'>
                    <div class="take-space"></div>
                    <mat-icon svgIcon='iv_forward' (click)='onNext($event)'></mat-icon>
                    <div class="take-space"></div>
                </div>
            </div>
        </div>

        <div class="tools" #tools>
            <mat-icon svgIcon='iv_zoom_out' (click)='$event.stopPropagation(); onScaleUp()'></mat-icon>
            <mat-icon svgIcon='iv_zoom_in' (click)='$event.stopPropagation(); onScaleDown()'></mat-icon>
            <mat-icon svgIcon='iv_rotate_left' (click)='$event.stopPropagation(); onRotateLeft()'></mat-icon>
            <mat-icon svgIcon='iv_rotate_right' (click)='$event.stopPropagation(); onRotateRight()'></mat-icon>
            <mat-icon svgIcon='iv_reset' (click)='$event.stopPropagation(); onReset()'></mat-icon>

            <mat-icon svgIcon='iv_backward' (click)='$event.stopPropagation(); moveUnit(-1,  0)'></mat-icon>
            <mat-icon svgIcon='iv_forward'  (click)='$event.stopPropagation(); moveUnit( 1,  0)'></mat-icon>
            <mat-icon svgIcon='iv_up'       (click)='$event.stopPropagation(); moveUnit( 0, -1)'></mat-icon>
            <mat-icon svgIcon='iv_down'     (click)='$event.stopPropagation(); moveUnit( 0,  1)'></mat-icon>
        </div>
    </div>
</div>

