@use 'sass:color' as color;
@use 'src/app/@theme/styles/themes' as *;


@include nb-install-component {
nb-card {
    margin: 0em;
    height: 100%;

    input.info-input {
        padding: 0em;
        background: white;
        border: 0em;
        font-size: large;
        color: color.adjust(nb-theme(text-basic-color), $alpha: -0.2);
        border-bottom: 1pt solid darken(nb-theme(background-basic-color-1), 20%);
        width: 50%;
        border-radius: 0em;
        padding: 0em 0.5em 0.1em 0.5em;

        &:focus {
            outline: none;
        }
    }

    nb-card-header {
        .header {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            .title {
                font-weight: bold;
                font-size: large;
                color: color.adjust(nb-theme(text-basic-color), $alpha: -0.1);
                cursor: pointer;

                &:hover {
                    color: nb-theme(text-basic-color);
                    text-shadow: 0pt 0pt 1pt color.adjust(nb-theme(text-basic-color), $alpha: -0.3);
                }
            }

            .savingStatus {
                color: color.adjust(nb-theme(color-basic-disabled), $lightness: -30%);
                padding: 0.1em 0em;

                .bd {
                    color: nb-theme(text-basic-color);
                }

                .savetime {
                    margin-right: 0.8em;
                }
            }
        }

        .tags {
            width: 100%;
            margin-top: 1em;
            border-top: 1pt solid darken(nb-theme(background-basic-color-1), 20%);
            padding-top: 1em;
        }
    }

    nb-card-body {
        height: 100%;
        overflow: hidden;
    }

    nb-card-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
}
