
.file-view {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;

    &.waiting {
        cursor: wait;
    }

    .files {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0.5em;
            background: #f3f3f3;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #777;
        }
    }
}

