@import 'src/app/@theme/styles/themes';


@include nb-install-component {
.file-view {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;

    &.waiting {
        cursor: wait;
    }

    .files {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        min-height: 50%;

        &:hover::-webkit-scrollbar {
            background: #f3f3f3;
        }

        &::-webkit-scrollbar {
            width: 0.5em;
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #777;
        }
    }

    .nav {
        width: 100%;
        flex-grow: 1;
        flex-direction: column;

        .skip {
            flex-grow: 1;
        }

        mat-paginator {
            width: 100%;
            border-top: 1pt solid darken(nb-theme(background-basic-color-1), 20%);
        }
    }
}
}
