
:host {
    user-select: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .name {
        font-weight: bold;
    }
}
