@import 'src/app/style/utils.scss';

.invitations {
    display: flex;
    flex-direction: column;

    .inv-item {
        width: 100%;
        outline: solid #babababa 2pt;
        outline-offset: -2pt;
        margin: 0.8em 0em 0.8em 0em;

        &:nth-child(2n+0) {
            .summary {
                background-color: #dcdcdc;
            }
        }

        &:nth-child(2n+1) {
            .summary {
                background-color: #ededed;
            }
        }

        .summary {
            .detail-button {
                .in-fold {
                    display: block;
                }
                .in-unfold {
                    display: none;
                }
            }

            &+.detail {
                display: none;
            }

            &.active {
                .detail-button {
                    .in-fold {
                        display: none;
                    }
                    .in-unfold {
                        display: block;
                    }
                }

                &+.detail {
                    display: block;
                }
            }
        }

        .summary.process {
            cursor: progress;
        }

        .summary {
            width: 100%;
            display: flex;
            flex-direction: row;
            white-space: nowrap;
            overflow: hidden;
            padding: 0.5em 0.8em;
            box-sizing: border-box;
            color: #777;

            .code {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 80%;
                @include no-select();

                mat-icon {
                    padding: 0em 0.5em 0em 0em;
                    flex-shrink: 0;

                    &:hover {
                        color: black;
                    }
                }

                .code-content {
                    flex-grow: 1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .take-space {
                flex-grow: 1;
            }

            .detail-button {
                width: min-content;

                &:hover {
                    color: black;
                }
            }
        }

        .detail {
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            padding: 0.5em 0.8em;

            .not-used {
                @include no-select();
                padding: 0.5em 1em;
                box-sizing: border-box;
                text-align: center;
                font-size: larger;
                font-family: fantasy;
            }

            .info {
            }

            .permission {
                padding: 0.5em;
                box-sizing: border-box;
            }

            & > * {
                width: 100%;
            }
        }
    }
}

