@use 'sass:color' as color;
@use 'src/app/@theme/styles/themes' as *;


@include nb-install-component {
nb-card {
    margin: 0em;
    height: 100%;

    nb-card-header {
        .title {
            width: 100%;
            text-align: center;
            font-size: large;
            font-weight: bold;
        }

        .info {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0.5em 0em;
        }

        .tags {
            width: 100%;
            margin-top: 1em;
            border-top: 1pt solid darken(nb-theme(background-basic-color-1), 5%);
            padding-top: 1em;
        }
    }

    nb-card-body {
        height: 100%;
        overflow: auto;

        &.fullscreen {
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background: nb-theme(background-basic-color-1);
            z-index: 9999;
        }
    }

    nb-card-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        button {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 10em;
        }
    }
}
}
