@use 'sass:color' as color;
@use 'src/app/@theme/styles/themes' as *;


@include nb-install-component {
nb-card {
    margin: 0em;
    height: 100%;

    nb-card-header {
        .title {
            width: 100%;
            text-align: center;
            font-size: large;
            font-weight: bold;
        }
    }

    nb-card-body {
        height: 100%;
        overflow: auto;
    }

    nb-card-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        button {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 10em;
        }
    }
}
}
