@use 'sass:color' as color;
@use 'src/app/@theme/styles/themes' as *;


@include nb-install-component {
nb-card {
    margin: 0em;
    height: 100%;

    nb-card-header {
        .title {
            width: 100%;
            text-align: center;
            font-size: large;
            font-weight: bold;
        }

        .info {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0.5em 0em;
        }

        .tags {
            width: 100%;
            margin-top: 1em;
            border-top: 1pt solid darken(nb-theme(background-basic-color-1), 5%);
            padding-top: 1em;
        }
    }

    nb-card-body {
        height: 100%;
        overflow: auto;

        .toc {
            border-bottom: 2px solid darken(nb-theme(background-basic-color-1), 20%);
            margin-bottom: 0.5em;

            &.toc-open {
                box-shadow: 0pt 0pt 3pt 3pt darken(nb-theme(background-basic-color-1), 10%);
                padding-right: 0.5em;
                padding-bottom: 0.5em;
                border-bottom: none;
                border-radius: 0.5em;
                outline: 2px solid darken(nb-theme(background-basic-color-1), 10%);
            }

            ul {
                list-style: none;
                padding-left: 1em;
            }

            .toc-title {
                display: flex;
                flex-direction: row;
                align-items: center;
                user-select: none;
                position: relative;

                button {
                    z-index: 2;
                }

                .percentage-bar {
                    display: none;
                    position: absolute;
                    height: 100%;
                    background: darken(nb-theme(background-basic-color-1), 20%);
                    opacity: 0.5;
                }

                .take-space {
                    flex-grow: 1;
                }

                .toc-text {
                    font-weight: bold;
                }
            }
        }

        &.fullscreen {
            padding: 0em;
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background: nb-theme(background-basic-color-1);
            z-index: 9999;

            .toc {
                position: sticky;
                top: 0em;
                left: 0em;
                background: nb-theme(background-basic-color-1);
                z-index: 10000;

                .toc-title > .percentage-bar {
                    display: block;
                }
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .viewer-container-outter {
            display: flex;
            flex-direction: row;
            justify-content: center;
            background: darken(nb-theme(background-basic-color-1), 5%);

            .viewer-container {
                background: nb-theme(background-basic-color-1);
                padding: 0em 0.8em 0em 0.8em;

                @media (max-width: 1920px) {
                    min-width: 70% !important;
                }

                @media (max-width: 1080px) {
                    min-width: 100% !important;
                }
            }
        }
    }

    nb-card-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        button {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 10em;
        }
    }
}
}
