<nb-card accent='info' *transloco='let t'>
    <nb-card-header>
      {{ t('Data Record Groups') }}: {{ sourcecount() }}
      <div class="control-components">
          <div></div>
          <mat-checkbox (change)='options_change($event)' [(ngModel)]='cb_sortbyupdate'>{{ t('Sort By Update Date') }}</mat-checkbox>
          <mat-checkbox (change)='options_change($event)' [(ngModel)]='cb_desc'>{{ t('Desceding') }}</mat-checkbox>
          <mat-checkbox (change)='options_change($event)' [(ngModel)]='cb_regex_filter'>{{ t('Regex Filter') }}</mat-checkbox>
          <button nbButton size='tiny' status="primary" [disabled]='sourcecount() == 0 || inBackup' (click)='backup_all()'>{{ t('Backup All Data') }}</button>
          <button nbButton size='tiny' status="primary" (click)='refresh_data()'>{{ t('Refresh') }}</button>
      </div>
    </nb-card-header>
    <nb-card-body [class]='sourcecount() == 0 ? "record-length-equal-zero" : ""'>
        <ng2-smart-table [settings]="settings" [source]="source"
            (deleteConfirm)="onDeleteConfirm($event)" 
            #datatable>
        </ng2-smart-table>

        <div class="empty-state">
            <nb-icon icon='archive'></nb-icon>
            <div class="warning">{{ t('NODATA') }}</div>
        </div>
    </nb-card-body>
</nb-card>
