@import 'src/app/style/table.scss';


app-group-table {
    @include Ng2SmartTableClickCell(1);
    @include TableIsEmpty();

    thead[ng-reflect-create-confirm] {
        tr:nth-child(2) {
            th:nth-child(1), th:nth-child(5) {
                visibility: hidden;
            }
        }
    }

    .control-components {
        font-size: small;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0.3em 0.5em;
    }
}

