@import 'src/app/style/utils.scss';

div.store {
    width: 100%;
    padding: 0.8em 1.2em;
    box-sizing: border-box;
    overflow: hidden;
    display: grid;
    align-items: center;

    grid-template-columns: 30% 30% 30% 10%;
    @media (max-width: 480px) {
        grid-template-columns: 28% 28% 28% 16%;
    }

    .hover-bg:hover {
        cursor: pointer;
        color: #444444c0;
    }

    & > .flex {
        display: flex;
        flex-direction: row;
        align-items: center;

        & > .take-space {
            flex-grow: 1;
        }
    }

    & > div {
        &:first-child {
            padding-left: 0em;
        }

        padding-left: 2em;
        box-sizing: border-box;
    }

    & div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    mat-icon {
        height: 18px;
        width: 18px;
        flex-shrink: 0;
    }

    .hidden {
        font-size: large;
        @include no-select();
    }

    div.site {
        display: flex;
        flex-direction: row;
        align-items: center;

        .text {
            padding: 0em 0em 0em 0.8em;
            font-size: small;
            color: #555;
        }
    }

    div.account {
    }

    div.password {
    }

    div.tools {
        position: relative;

        .bs {
            display: none;
            flex-direction: column;
            position: fixed;
            transform: translate(-2em, 3em);
            background: white;
            z-index: 2;
            padding: 0.8em 0em;
            border: solid 1pt #cccccc55;
            border-radius: 0.5em;
            box-shadow: -0.2em 0.3em 0.4em 0.2em #cccccc77;

            button {
                width: 100%;

                &:hover {
                    background-color: #cccccc22;
                }
            }
        }

        /*
        &:hover .bs {
            display: flex;
        }
        */
    }
}

