
<div class="container">

    <div class="content">
        <form #fs1="ngForm" class='signup-form' novalidate>
            <div class="inputs">
                <mat-form-field hideRequiredMarker>
                    <mat-label>用户名</mat-label>
                    <input matInput placeholder="输入用户名" type='text'
                                    [(ngModel)]='inputState.username' name='iname' #iname='ngModel'
                                    required appName>
                    <button mat-button *ngIf="inputState.username" matSuffix 
                            mat-icon-button aria-label="Clear" (click)="inputState.username=''">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error *ngIf="iname.errors?.name">
                        请输入正确的用户名
                    </mat-error>
                    <mat-error *ngIf="iname.errors?.required">
                        用户名是必须的
                    </mat-error>
                </mat-form-field>

                <mat-form-field hideRequiredMarker>
                    <mat-label>密码</mat-label>
                    <input matInput placeholder="输入密码" type='password'
                                    [(ngModel)]='inputState.password' name='ipass' #ipass='ngModel'
                                    required>
                    <button mat-button *ngIf="inputState.password" matSuffix 
                            mat-icon-button aria-label="Clear" (click)="inputState.password=''">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error *ngIf="ipass.errors?.required">
                        密码是必须的
                    </mat-error>
                </mat-form-field>

                <mat-form-field hideRequiredMarker>
                    <mat-label>邀请码</mat-label>
                    <input matInput placeholder="输入邀请码" type='text'
                                    [(ngModel)]='inputState.invCode' name='inv' #inv='ngModel'
                                    required>
                    <button mat-button *ngIf="inputState.invCode" matSuffix 
                            mat-icon-button aria-label="Clear" (click)="inputState.invCode=''">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error *ngIf="inv.errors?.required">
                        邀请码是必须的
                    </mat-error>
                </mat-form-field>
            </div>

            <section>
                <div class="buttons">
                    <button class="confirm-login-button" mat-raised-button color='primary' 
                            [disabled]='fs1.invalid' (click)='signup()'>
                        注册新用户
                    </button>
                </div>
            </section>

            <mat-error class='signup-fail-warning' [style]='signupFail ? "" : "visibility: hidden"'>
                注册失败，可能是邀请码错误，请重试
            </mat-error>
        </form>
    </div>

</div>

