@import '../../../style/layout.scss';
@import '../../../style/utils.scss';

@include container-content();

.container {

    .content {

        @include inputs-buttons-form('.signup-form');

        .signup-fail-warning {
            box-sizing: border-box;
            padding: 0em 1em;
            width: 100%;
        }
    }
}

