
app-sole-window {
    width: 100%;

    .wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;

        .take-space {
            flex-grow: 1;
        }

        app-video-player {
            padding: 1em;
            box-sizing: border-box;
            width: 100%;
            max-width: 600px;
        }
    }
}

