
<div class="detail-view-style">
    <div class="detail-view-prop name-prop">
        <div class="field">Name</div>
        <div class="tool"></div>
    </div>
    <div class="detail-view-prop date-porp">
        <div class="field">Date Modified</div>
        <div class="tool"></div>
    </div>
    <div class="detail-view-prop type-prop">
        <div class="field">Type</div>
        <div class="tool"></div>
    </div>
    <div class="detail-view-prop size-prop">
        <div class="field">Size</div>
        <div class="tool"></div>
    </div>
    <div class="detail-view-prop mode-prop">
        <div class="field">Mode</div>
        <div class="tool"></div>
    </div>
</div>
