
<div class="container">

    <div class="content">
        <app-login-bg></app-login-bg>
        <form #fs1="ngForm" class='reset-form' novalidate>
            <div class="inputs">
                <mat-form-field hideRequiredMarker>
                    <mat-label>用户名</mat-label>
                    <input matInput placeholder="输入用户名" type='text'
                                    [(ngModel)]='inputState.username' name='iname' #iname='ngModel'
                                    required appName>
                    <mat-error *ngIf="iname.errors?.name">
                        请输入正确的用户名
                    </mat-error>
                    <mat-error *ngIf="iname.errors?.required">
                        用户名是必须的
                    </mat-error>
                </mat-form-field>

                <mat-form-field hideRequiredMarker>
                    <mat-label>用于注册的邀请码</mat-label>
                    <input matInput placeholder="输入用于注册的邀请码" type='text'
                                    [(ngModel)]='inputState.invCode' name='inv' #inv='ngModel'
                                    required>
                    <mat-error *ngIf="inv.errors?.required">
                        邀请码是必须的
                    </mat-error>
                </mat-form-field>

                <mat-form-field hideRequiredMarker>
                    <mat-label>新密码</mat-label>
                    <input matInput placeholder="输入密码" type='password'
                                    [(ngModel)]='inputState.password' name='ipass' #ipass='ngModel'
                                    required>
                    <mat-error *ngIf="ipass.errors?.required">
                        新密码是必须的
                    </mat-error>
                </mat-form-field>
            </div>

            <section>
                <div class="buttons">
                    <button class="confirm-login-button" mat-raised-button color='primary' 
                            [disabled]='fs1.invalid' (click)='reset()'>
                        找回密码
                    </button>
                </div>
            </section>

            <mat-error class='reset-fail-warning' [style]='resetFail ? "" : "visibility: hidden"'>
                找回密码失败，可能是邀请码错误，请重试
            </mat-error>
        </form>
    </div>

</div>

