
.sv-container {
    width: 100%;
    height: 100%;

    .sv-content {
        display: flex;
        overflow: visible;
        width: 100%;
        height: 100%;

        .take-space {
            width: 100%;
            max-width: 15%;
            min-width: 8%;
            flex-grow: 1;
        }

        .wrapper {
            min-width: 70%;
            display: flex;
            flex-direction: column; 

            .row-take-space {
                flex-grow: 1;
                min-height: 2.5em;
            }
        }
    }
}

