
.container {
    width: 100%;

    .content {
        display: flex;
        display: column;
        overflow: hidden;
        width: 100%;

        .take-space {
            width: 100%;
            max-width: 20pt;
            flex-grow: 1;
        }

        .wrapper {
            width: 100%;
            display: flex;
            flex-direction: row;

            .row-take-space {
                flex-grow: 1;
            }

            ng-content {
                width: 100%;
            }
        }
    }
}

