
@mixin incenter() {
    app-sole-window {
        width: 100%;
        height: 100%;

        .player {
            box-sizing: border-box;
            width: 100%;
            max-width: 700px;
        }
    }
}

