<ng-container *transloco='let t'>
<h1 id="title" class="title">{{ t('change password') }}</h1>

<nb-alert *ngIf="showMessages?.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages?.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="resetPass()" #resetPassForm="ngForm" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="input-password">{{ t('new password') }}:</label>
    <input nbInput
           [(ngModel)]="user.password"
           #password="ngModel"
           type="password"
           id="input-password"
           name="password"
           class="first"
           [placeholder]="t('new password')"
           autofocus
           fullWidth
           fieldSize="large"
           [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
           pattern='[\w!@#$%^&*()\-+,.<>/\\\[\]{}~`+=]{6,}'
           required
           minlength="6"
           [attr.aria-invalid]="password.invalid && password.touched ? true : null">
    <ng-container *ngIf="password.invalid && password.touched">
      <p class="caption status-danger" *ngIf="password.errors?.required">
          {{ t('password is required!') }}
      </p>
      <p class="caption status-danger" *ngIf="password.errors?.minlength">
          {{ t('password must be at least 6 characters!') }}
      </p>
    </ng-container>
  </div>

  <div class="form-group">
    <label class="label" for="input-re-password">{{ t('confirmed password') }}:</label>
    <input nbInput
           [(ngModel)]="confirmPassword"
           #rePass="ngModel"
           id="input-re-password"
           name="rePass"
           type="password"
           class="last"
           [placeholder]="t('confirmed password')"
           pattern='[\w!@#$%^&*()\-+,.<>/\\\[\]{}~`+=]{6,}'
           fullWidth
           fieldSize="large"
           [status]="rePass.touched
               ? ((rePass.invalid || password.value != rePass.value) ? 'danger' : 'success')
               : 'basic'"
           required
           [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">
    <ng-container *ngIf="rePass.touched">
      <p class="caption status-danger" *ngIf="rePass.invalid && rePass.errors?.required">
          {{ t('confirmed password is required!') }}
      </p>
      <p class="caption status-danger" *ngIf="password.value != rePass.value && !rePass.errors?.required">
          {{ t('confirmed password must match password!') }}
      </p>
    </ng-container>
  </div>

  <button nbButton
          status="primary"
          fullWidth
          size="large"
          [disabled]="submitted || !resetPassForm.valid || password.value != rePass.value"
          [class.btn-pulse]="submitted">
      {{ t('change') }}
  </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../login">{{ t('login') }}</a></p>
  <p><a class="text-link" routerLink="../signup">{{ t('signup') }}</a></p>
</section>
</ng-container>
