@import 'src/app/style/utils.scss';


.download-page {
    height: 100%;

    .top-panel {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 0.5em 1.5em;
        box-sizing: border-box;

        .take-space {
            flex-grow: 1;
        }

        .buttons {
            button {
            }
        }
    }

    .tasks-wrapper {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        @include thin-scrollbar();

        .tasks {
            width: 100%;
            box-sizing: border-box;
            padding: 0em 0.8em;

            .task {
            }
        }
    }
}

