
<div [class]="getItemClass()" (click)="onClick()" draggable='true' #fileitem>
    <div class="file-icon" #fileicon></div>

    <div class="file-props">
        <div class="file-prop file-name" [style]='getPropCSS(nameOrder, nameWidth)'> {{ FileName }}  </div>
        <div class="file-prop file-date" [style]='getPropCSS(dateOrder, dateWidth)'> {{ FileMTime }} </div>
        <div class="file-prop file-mode" [style]='getPropCSS(modeOrder, modeWidth)'> {{ FileMode }}  </div>
        <div class="file-prop file-type" [style]='getPropCSS(typeOrder, typeWidth)'> {{ FileType }}  </div>
        <div class="file-prop file-size" [style]='getPropCSS(sizeOrder, sizeWidth)'> {{ FileSize }}  </div>
    </div>
</div>

