@import 'src/app/style/colors.scss';

app-file {
    .file-item {
        &:hover {
            background: $color-file-hover;
        }
    }

    &.select {
        .file-item {
            background-color: $color-file-select;

            &:hover {
                background-color: $color-file-select-hover;
            }
        }
    }

    &.active {
        .file-item {
            background-color:  $color-file-active;
        }
    }

    .file-item.detail {
        position: relative;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.3em 0em;
        box-sizing: border-box;

        font-size: 0.7em;

        .file-icon {
            padding: 0.4em;
            width: 2em;
            flex-shrink: 0;

            svg {
                width: 100%;
            }
        }

        .file-props {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            align-items: center;
            box-sizing: border-box;
            padding: 0.8em 0em;
            overflow-x: hidden;

            .file-prop {
                padding: 0em 0.8em;
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }

            .file-name {
            }

            .hidden-panel {
                display: none;
                position: absolute;
                flex-direction: column;
                background-color: white;
                box-shadow: 0.1em 0.1em 0.3em 0.1em #CCC;
                padding: 0.5em 0.7em;
                border-radius: 0.3em;
                z-index: 1;
            }
        }

        .file-props:hover {
            .hidden-panel {
                display: flex;
                animation: showme 1.4s linear forwards;
            }

            @keyframes showme {
                0% {
                    opacity: 0;
                }
                94% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }
    }
}

