@import 'src/app/style/colors.scss';
@import 'src/app/style/utils.scss';
@import 'src/app/@theme/styles/themes';


@include nb-install-component {
nb-card {
    width: 100%;
    height: 100%;
    margin: 0em;

    nb-card-header {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: large;
        user-select: none;
    }
    $basecolor: nb-theme(background-basic-color-1);

    nb-card-body {
        width: 100%;
        flex-grow: 1;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        padding: 0em;

        .nav-container {
            overflow-x: hidden;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 0.3em;
                height: 0.3em;
                background-color: transparent;
            }
            &::-webkit-scrollbar-thumb {
                background-color: rgba(180, 180, 180, 0);
                border-radius: 0.2em;
            }
            &:hover {
                &::-webkit-scrollbar-thumb {
                    background-color: rgba(180, 180, 180, 0.7);
                }
            }

            @media (max-width: 600px) {
                width: 100%;
                overflow-x: auto;
                overflow-y: hidden;

                &:hover {
                    &::-webkit-scrollbar-thumb {
                        background-color: transparent;
                    }
                }
            }
        }

        .settings-nav {
            @include no-select();
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 20%;
            min-width: max-content;
            background-color: darken($basecolor, 5%);
            cursor: pointer;

            .nav-button {
                background-color: darken($basecolor, 5%);
                padding: 1em 0.8em;
                box-sizing: border-box;

                &.active {
                    background-color: $basecolor;
                    font-weight: bold;
                }
            }
        }

        .settings-panel {
            height: 100%;
            width: 80%;

            .slide {
                background-color: $basecolor;
                height: 100%;
            }
        }

        @media (max-width: 600px) {
            & {
                flex-direction: column;

                .settings-nav {
                    width: 100%;
                    height: min-content;
                    flex-direction: row;
                    flex-wrap: wrap;
                    text-align: center;

                    .nav-button {
                        flex-basis: 0em;
                        flex-grow: 1;
                    }
                }

                .settings-panel {
                    flex-grow: 1;
                    flex-shrink: 1;
                    width: 100%;
                }
            }
        }
    }
}
}
