@import 'src/app/style/colors.scss';
@import 'src/app/style/utils.scss';


nb-card {
    width: 100%;
    height: 100%;
    margin: 0em;

    nb-card-header {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: large;
    }

    nb-card-body {
        width: 100%;
        flex-grow: 1;
        overflow: hidden;
        display: flex;
        flex-direction: row;

        .settings-nav {
            @include no-select();
            height: 100%;
            width: 20%;
            min-width: 120px;
            background-color: $color-bg-TOP;

            .nav-button {
                background-color: $color-bg-TOP;
                padding: 1em 0.8em;
                box-sizing: border-box;
                color: #333;

                &.active {
                    background-color: white;
                }
            }
        }

        .settings-panel {
            height: 100%;
            width: 80%;

            .slide {
                background-color: white;
                height: 100%;
            }
        }
    }
}

