<nb-card status='info'>
  <nb-card-header>
    settings
  </nb-card-header>

  <nb-card-body>
    <div class='nav-container'>
      <div class="settings-nav" #settingsnav>
        <div class="nav-button" (click)='gotoPanel($event)' data-panel='user-account'> User Account </div>
        <div class="nav-button" (click)='gotoPanel($event)' data-panel='sub-account'> Sub Accounts </div>
        <div class="nav-button" (click)='gotoPanel($event)' data-panel='file-operation'> File Operations </div>
        <div class="nav-button" (click)='gotoPanel($event)' data-panel='display'> Display </div>
        <div class="nav-button" (click)='gotoPanel($event)' data-panel='misc'> Misc </div>
        <div class="nav-button" (click)='gotoPanel($event)' data-panel='about'> About </div>
      </div>
    </div>

    <swiper class="settings-panel" [direction]='swiperDirection' slidesPerView="auto"
            (slideChange)="onSlideChange($event)" (init)="onSlideInit($event)" #swiper>
      <ng-template swiperSlide><div class="slide"><app-user-account></app-user-account></div></ng-template>
      <ng-template swiperSlide><div class="slide"><app-sub-accounts></app-sub-accounts></div></ng-template>
      <ng-template swiperSlide><div class="slide"><app-file-operations></app-file-operations></div></ng-template>
      <ng-template swiperSlide><div class="slide"><app-display></app-display></div></ng-template>
      <ng-template swiperSlide><div class="slide"><app-misc></app-misc></div></ng-template>
      <ng-template swiperSlide><div class="slide"><app-about>  </app-about>  </div></ng-template>
    </swiper>
  </nb-card-body>
</nb-card>
