<nb-card status='info'>
  <nb-card-header>
    <span>⚙️</span><span *transloco='let t'>{{ t('settings') }}</span>
  </nb-card-header>

  <nb-card-body>
    <div class='nav-container'>
      <div class="settings-nav" #settingsnav>
        <div class="nav-button" (click)='gotoPanel($event)' data-panel='user-account'>
          <span>👶</span>
          <span *transloco='let t'> {{ t('User Account') }} </span>
        </div>
        <div class="nav-button" (click)='gotoPanel($event)' data-panel='sub-account'>
          <span>👪</span>
          <span *transloco='let t'> {{ t('Sub Accounts') }} </span>
        </div>
        <div class="nav-button" (click)='gotoPanel($event)' data-panel='file-operation'>
          <span>📁</span>
          <span *transloco='let t'> {{ t('File Operations') }} </span>
        </div>
        <div class="nav-button" (click)='gotoPanel($event)' data-panel='display'>
          <span>📺</span>
          <span *transloco='let t'> {{ t('Display') }} </span>
        </div>
        <div class="nav-button" (click)='gotoPanel($event)' data-panel='misc'>
          <span>🧰</span>
          <span *transloco='let t'> {{ t('Misc') }} </span>
        </div>
        <div class="nav-button" (click)='gotoPanel($event)' data-panel='about'>
          <span>ℹ️</span>
          <span *transloco='let t'> {{ t('About') }} </span>
        </div>
      </div>
    </div>

    <swiper class="settings-panel" [direction]='swiperDirection' slidesPerView="auto"
            (slideChange)="onSlideChange($event)" (init)="onSlideInit($event)" #swiper>
      <ng-template swiperSlide><div class="slide"><app-user-account></app-user-account></div></ng-template>
      <ng-template swiperSlide><div class="slide"><app-sub-accounts></app-sub-accounts></div></ng-template>
      <ng-template swiperSlide><div class="slide"><app-file-operations></app-file-operations></div></ng-template>
      <ng-template swiperSlide><div class="slide"><app-display></app-display></div></ng-template>
      <ng-template swiperSlide><div class="slide"><app-misc></app-misc></div></ng-template>
      <ng-template swiperSlide><div class="slide"><app-about>  </app-about>  </div></ng-template>
    </swiper>
  </nb-card-body>
</nb-card>
