
$color-file-hover:  rgba(50, 50, 230, 0.1);
$color-file-active: darken($color-file-hover, 20%);

$color-file-select: darken($color-file-hover, 10%);
$color-file-select-hover: darken($color-file-hover, 20%);

$color-menu-hover: darken($color-file-hover, 10%);

