

@mixin container-content() {
    .container {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;

        &::-webkit-scrollbar {
            display: none;
        }

        .content {
            flex-grow: 1;
        }
    }
}

@mixin inputs-buttons-form($form-selector) {
    #{$form-selector} {
        .inputs {
            padding: 0.5em 1em;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            flex-direction: column;

            mat-form-field {
                margin: 0.4em 0em;
            }
        }

        .buttons {
            box-sizing: border-box;
            width: 100%;
            display: flex;
            flex-direction: row;

            button {
                flex-basis: 0em;
                flex-grow: 1;
                margin: 0.8em;
            }
        }
    }
}

