
<div class="sv-seperator"></div>

<app-checkbox *ngIf='setting.type=="checkbox"' 
              [name]='setting.name' 
              [init]='setting.initvalue'
              (change)='onchange($event)'></app-checkbox>

<app-input *ngIf='setting.type=="input"' 
           [name]='setting.name' 
            type ='{{setting.type}}' 
           [init]='setting.initvalue'
           [options]='setting.extra || {}'
           (change)='onchange($event)'></app-input>

<app-select *ngIf='setting.type=="select"' 
           [name]='setting.name' 
           [init]='setting.initvalue'
           [options]='setting.extra'
           (change)='onchange($event)'></app-select>

