@use 'sass:color' as color;
@use 'src/app/@theme/styles/themes' as *;


:host {
    width: 100%;

    &:nth-child(1) .sv-seperator {
        display: none;
    }
}

@include nb-install-component {
    .sv-seperator {
        width: 100%;
        height: 1px;
        background-color: darken(nb-theme(background-basic-color-1), 20%);
        margin: 1em 0em;
    }
}
