@import 'src/app/style/utils.scss';

nb-card {
    height: 100%;
    display: flex;
    flex-direction: column;

    nb-card-body {
        flex-grow: 1;
    }
    margin: 0em;
}

.top-tools {
    width: 100%;
    display: flex;
    flex-direction: column;

    div.buttons {
        padding: 0.5em 0.8em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        button {
            margin: 0em 0.5em;
            flex-grow: 1;
            width: 0%;
        }
    }
}

.stores {
    width: 100%;
    padding: 1em 0.5em;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto;

    .store {
        width: 100%;
        border-top: solid 1px #aaaaaa55;
        &:first-child {
            border-top: none;
        }
    }
}
