<nb-card accent='primary'>
  <nb-card-header>
    <div class='header-top'>
      <div>Number Of Records: {{ source?.count() }}</div>
      <nb-select size='small' (selectedChange)='select_options_change($event)' 
                 status='primary' filled placeholder="DataViewer" [(selected)]='datatype'>
        <nb-option value="Text">Text</nb-option>
        <nb-option value="JSON">JSON</nb-option>
      </nb-select>
    </div>
    <div class='header-top'>
      <mat-form-field>
        <mat-label>Page No. {{ pagenoinfo }} </mat-label>
        <input [disabled]='!source' (change)='page_options_change($event)'
               matInput type="number" min='1' step='1'[(ngModel)]='pageno'>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Page Size</mat-label>
        <input [disabled]='!source' (change)='page_options_change($event)'
               matInput type="number" min='1' step='1' [(ngModel)]='pagesize'>
      </mat-form-field>
    </div>
  </nb-card-header>
</nb-card>

<nb-card>
  <nb-card-body [class]='!source || source.count() == 0 ? "record-length-equal-zero" : ""'>
    <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>

    <div class="empty-state">
      <nb-icon icon='archive-outline'></nb-icon>
      <div class="warning">Empty</div>
    </div>
  </nb-card-body>
</nb-card>

