@import 'src/app/style/utils.scss';

:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .name {
        font-weight: bold;
        white-space: nowrap;
        user-select: none;
    }

    mat-form-field {
        width: 50%;

        input {
            width: 100%;
            text-align: right;
        }
    }
}

