@import 'src/app/style/colors.scss';
@import 'src/app/@theme/styles/themes';


@include nb-install-component {
.detail-view-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    $basecolor: nb-theme(background-basic-color-1);
    $fcolor: nb-theme(basic-color-1);
    background: darken($basecolor, 5%);

    .take-space {
        width: 2em;
        height: 1pt;
        visibility: hidden;
        padding: 0.4em;
        flex-shrink: 0;
    }

    .detail-view-prop {
        color: $fcolor;
        display: flex;
        flex-direction: row;
        flex-shrink: 1;
        flex-grow: 1;
        position: relative;
        overflow-y: hidden;

        .field {
            flex-grow: 1;
            padding: 0.5em;
            font-size: xx-small;
        }

        .tool {
            display: none;
            flex-direction: row;
            position: absolute;
            right: 0.1pt;

            .maticon {
                flex-grow: 1;
                text-align: center;
            }

            .vertical {
                width: 0.1pt;
                height: 100%;
                background-color: darken($basecolor, 10%);
            }
        }

        &:last-child > .vertical-drag {
            display: none;
        }

        .vertical-drag {
            position: absolute;
            right: 0em;
            width: 1pt;
            height: 100%;
            outline: solid darken($basecolor, 10%) 0.1pt;
            cursor: e-resize;
        }

        &:hover {
            background: darken($basecolor, 15%);

            .tool {
                display: flex;
            }
        }
    }
}
}

