
.link-manager {
    width: 100%;

    .search-bar {
        width: 100%;
        box-sizing: border-box;
        padding: 0.3em 0.4em 1em 0.4em;
    }

    .entries {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0em 0.8em;
        width: 100%;

        .entry {
            display: flex;
            flex-direction: row;
            width: 100%;
            box-sizing: border-box;
            padding: 0.3em;
            border-radius: 1em;
            border: solid 0.5pt #7bb;
            box-shadow: 0.1em 0.1em 0.3em 0.2em rgba(120,200,189,0.2);
            margin-bottom: 0.8em;

            table {
                flex-grow: 1;

                tr:nth-child(even) {
                }
                tr:nth-child(odd) {
                }

                tr {
                    td {
                        padding: 0.3em 1em;
                    }

                    td:first-child {
                        color: blue;
                    }
                    td:last-child {
                        color: green;
                    }
                }
            }

            .buttons {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                padding: 0.2em 0.5em;
                color: brown;

               .button {
                   padding: 0.3em;

                   &:hover {
                       background-color: rgba(240,240,240,0.5);
                       border-radius: 0.3em;
                   }
               }
            }
        }
    }
}

