
<app-wrapper>
<div class="label">Invitation Code</div>
<div class="invitations">
    <div class="inv-item" *ngFor='let inv of invitations; let i = index;'>
        <div [class]="'summary ' + (indexClassState[i] ? indexClassState[i] : '')">
            <div class="code">
                <mat-icon (click)='copyToClipboard(invitations[i])' svgIcon='wd-copy'></mat-icon>
                <div class="code-content">{{ inv }}</div>
            </div>
            <div class="take-space"></div>
            <div class="detail-button" (click)='foldToggle(i)'>
                <mat-icon class='in-fold'   svgIcon='in_fold'></mat-icon>
                <mat-icon class='in-unfold' svgIcon='in_unfold'></mat-icon>
            </div>
        </div>
        <div class="detail" *ngIf='details[i]'> 
            <div class="not-used" *ngIf='!invcodeUsed(i)'>Not in Used</div>
            <div class="userinfo" *ngIf='invcodeUsed(i)'>
                <div class="key-value-table">
                      <div>Username</div> <div>{{details[i][0].username}}</div>
                      <div>Register Date</div><div>{{ createTime(i) }}</div>
                </div>
            </div>

            <div class="permission">
                <app-setting-item *ngFor='let item of permsSetting[i]; let j = index;' [setting]='item'>
                </app-setting-item>
            </div>

            <div class="space"></div>
            <button class="button" [disabled]='invcodeUsed(i)'
                    mat-raised-button color='secondary' (click)='deleteInvCode(i)'>Delete Invitation Code</button>
        </div>
    </div>
</div>

<div class="space"></div>
<button class="button" mat-raised-button color='primary' (click)='newinv(1)'>Generate New Invitation Code</button>
</app-wrapper>

