@import '../../style/layout.scss';
@import '../../style/utils.scss';

@include container-content();

.container {
    .content {
        display: flex;
        flex-direction: column;

        .file-view {
            display: flex;
            flex-direction: column;
        }
    }
}

