@import 'src/app/style/colors.scss';

.dir-tree {
    width: 100%;
    display: flex;
    flex-direction: column;

    .dir-row {
        display: flex;
        flex-direction: row;
        align-items: center;

        &:hover {
            background-color: $color-tree-hover;
            border-radius: 0.3em;
        }

        .get {
            color: #aaa;
            font-size: normal;

            &:hover {
                color: $color-tree-get-hover-fg;
            }

            &.over {
                visibility: hidden;
            }
        }

        .icon-name {
            display: flex;
            flex-direction: row;
            align-items: center;

            .icon {
                width: 1.15em;
                flex-shrink: 0;
            }

            .name {
                padding: 0em 0.3em 0.2em 0.4em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipse;
            }
        }
    }

    .sub-dir {
        margin-left: 1em;
        display: none;

        &.show {
            display: block;
        }
    }
}

