
<div class="dir-tree" #tree>
    <div class="dir-row">
        <a [class]="((geted && children.length == 0) ? 'over' : '') + ' get'" (click)='onGet()'>
            <mat-icon *ngIf="!expanded">chevron_right</mat-icon>
            <mat-icon *ngIf=" expanded">expand_more</mat-icon>
        </a>

        <a class="icon-name" (click)='onGoto()'>
            <div class="icon">
                <app-file-icon icon='folder'></app-file-icon>
            </div>
            <div class="name">{{ basename }}</div>
        </a>
    </div>

    <div [class]="(expanded ? 'show' : '') + ' sub-dir'">
        <div class="sub-dir-item" *ngFor='let child of children;'>
            <app-directory-tree directory='{{ child }}'></app-directory-tree>
        </div>
    </div>
</div>

